@inherits LayoutComponentBase
@inject AuthenticationStateProvider auth
@using Tarea5_.Data

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <a href="/iniciar" @onclick="(()=> Logout())">Log out</a>
            </Authorized>
            <NotAuthorized>
                <a href="/registro">Registrarse</a>
                <a href="/iniciar">Log in</a>
            </NotAuthorized>
        </AuthorizeView>       
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    public void Logout()
    {
        ((Authorize)auth).Deslogueado();
    }
}
